.features {
    padding: 85px 120px;
    @include flex(column, start);

    > .features-header {
        width: 98%;
        text-align: left;
        margin-bottom: 45px;
    }

    > .features-content {
        @include flex(row, space-between);

        > .feature {
            
            margin: 20px;

            > .feature-icon {}

            > .feature-heading {
                font-size: 21px;
                margin: 20px 0;
            }

            > .feature-description {
                font-size: 14px;
            }

        }
    }
}