.features {
    padding: 110px 120px;
    @include flex(column, start);

    > .features-header {
        width: 95%;
        text-align: left;
        margin-bottom: 45px;

        h2 {
            font-size: 36px;
            margin-bottom: 10px;
        }
        p {}
    }

    > .features-content {
        @include flex(row, space-between);

        .feature {
            margin: 20px;

            .feature-icon {}
            .feature-heading {
                font-size: 21px;
                margin: 20px 0;
            }
            .feature-description {
                font-size: 14px;
            }
        }
    }
}