.header {

    > .header-nav {
        position: relative;
        height: 80px;
        @include flex(row, space-around);
        z-index: 999;

        > ul {
            list-style: none;
            @include flex(row, space-between);

            > li {
                margin: 1.3px;

                > a {
                    font-size: 15px;
                    @include flex(row, space-between);
                    padding: 12px;
                    height: 80px;

                    &:hover {
                        color: $dark-blue;
                        border-bottom: 3px solid $lime-green;
                        transition: color .2s;
                        -webkit-transition: color .2s;
                        -moz-transition: color .2s;
                        -ms-transition: color .2s;
                        -o-transition: color .2s;
                    }
                }
            }
        }
    }

    > .wrapper {
        height: calc(100vh - 80px);
        overflow-y: visible;
        @include flex(row, center);


        .header-content {
            @include flex(row, space-between);
            width: 100vw;
            background-image: url("../images/bg-intro-desktop.svg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: 560px -250px;
            z-index: 99;
            overflow-x: hidden;
    
            > .header-content-text {
                padding-left: 150px;
                width: 560px;
    
                > .header-heading {
                    font-size: 50px;
                    line-height: 60px;
                }
                
                > .header-description {
                    margin: 30px 0;
                }
    
            }
    
            >.header-image {
                display: block;
                height: calc(100vh + 200px);
                margin-right: -120px;
            }
        }

    } 
}

@media (max-width: 1200px) {
    .wrapper {

        .header-content {

            > .header-content-text {
                margin-left: -60px;
            }

        }

    }
}

@media (max-width: 1074px) {
    .header {
        margin-left: -12px;

        > .wrapper {
            @include flex(column, center);
            height: 100%;
    
            .header-content {
                @include flex(column-reverse, center);
                background-image: url("../images/bg-intro-mobile.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0px -140px;
                height: auto;
                overflow: visible;
    
                > .header-content-text {
                    @include flex(column, center);
                    width: 100%;
                    padding: 20px 0 50px;
                    margin: 0;
                    text-align: center;

                    > .header-heading {
                        font-size: 40px;
                        padding: 0 50px;
                        line-height: 45px;
                    }

                    > .header-description {
                        padding: 0 30px;
                        margin: 20px;
                    }
                }

                > .header-image {
                    width: 80vw;
                    height: auto;
                    margin: 0;
                    margin-top: -150px;
                }
            }
        }
    }
}