.btn {
    background: linear-gradient(to right, $lime-green, $bright-cyan);
    height: 42px;
    width: 154px;
    color: white;
    padding: 0.8em 1.5em;
    border-radius: 5em;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    @include flex(row, center);
}