// Responsive breakpoints
$bp-mobile: 375px;
$bp-desktop: 1440px;

// Font variables
$font-size: 18px;
$font-family: 'Public Sans', sans-serif;

// Color variables
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
